<h1>Vericiador de predição de ações usando o modelo Prophet no setor Bancário</h1>

<form method="POST" >
{% csrf_token %}
<div>
    <b>Adicione datas que estão no passado, pois os valores reais no futuro ainda não existem!</b>
    <br>
    <label>Data de Previsão:</label>
    <input type="text" name="data" placeholder="yyyy-mm-dd">
    

</div>

<div>
    <label>Nome da ação a ser prevista:</label>
    <select name="stock">
        <option value="itau">ITAU - ITUB4</option>
        <option value="bradesco">Bradesco - BBDC4</option>
        <option value="Santander">Santander - BCSA34</option>
    </select>

</div>

<button type="submit">Enviar</button>
</form>